<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <%# -Carousel Panel- %>
    <% if (post.layout == 'learnsite'){ %>
        <% if (theme.Carousel.enabled) {%>
        <%- partial('_custom/carousel', null, {cache: !config.relative_link}) %>
        <% } %>
    <% } %>
    <%# -Carousel Panel End- %>
    <div class="article-entry" itemprop="articleBody">
    
  </div>
</article>
